.navbar {
    background-color: #1c3058;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navLinks a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navLinks a:hover {
    color: #61dafb;
  }
  

  .title {
    color: darkgoldenrod;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: larger;
  }