@tailwind base;
@tailwind components;
@tailwind utilities;



.footer{
  text-align: center;
  background-color: rgb(99, 190, 247);
  color: black;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px;
  font-size: 20px;
  
  
}